<h1>Update Country</h1>

<% if(errors != undefined){ %>
    <ul>
        <% errors.forEach((error) => { %>
            <li>
                <%= error.msg %>
            </li><% }) %>
    </ul>
  <% } %>

<form action="/updateCountry" method="POST">
    
    <% countries.forEach((country) =>
    { %>

    <label>Country Code</label>
    <input type="text" name="code" value="<%= country.co_code %>"><br>
    <label>Country Name</label>
    <input type="text" name="name" value="<%= country.co_name %>"><br>
    <label>Country Details</label>
    
        <textarea type="text" name="details" placeholder=" <%= country.co_details %>"rows="4" cols="50"></textarea>
    <input type="submit" value="Update">
  </form> 
  
  <% }) %>
  
  <a href="/">Home</a>
